In [7]:
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                                                                                             db_config['pwd'],
                                                                                                                                            db_config['host'],
                                                                                                                                             db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string)

query = '''select * from dash_visits'''

dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits['dt'] = pd.to_datetime(dash_visits['dt'])
dash_visits['dt'] = dash_visits['dt'].dt.time
dash_visits.to_csv('dash_visits.csv', index = False)

dash_visits.head()

   record_id item_topic source_topic age_segment        dt  visits
0    1040597     Деньги         Авто       18-25  18:32:00       3
1    1040598     Деньги         Авто       18-25  18:35:00       1
2    1040599     Деньги         Авто       18-25  18:54:00       4
3    1040600     Деньги         Авто       18-25  18:55:00      17
4    1040601     Деньги         Авто       18-25  18:56:00      27

In [8]:
dash_visits['dt'].unique()

array([datetime.time(18, 32), datetime.time(18, 35),
       datetime.time(18, 54), datetime.time(18, 55),
       datetime.time(18, 56), datetime.time(18, 57),
       datetime.time(18, 58), datetime.time(18, 59), datetime.time(19, 0),
       datetime.time(18, 29), datetime.time(18, 30),
       datetime.time(18, 31), datetime.time(18, 52),
       datetime.time(18, 33), datetime.time(18, 53),
       datetime.time(18, 28), datetime.time(18, 34)], dtype=object)

In [ ]:
dash_visits